:root {
    --brand-color: #212121;
    --secondary-color: #2196F3;
    --third-color: #757575;
    --background-color:#2F303A;
    --footer-first-color:#FFFFFF99;
    --footer-second-color:#fff;
    --logo-color:#000;
}
body { 
    font-family: Roboto; sans-serif;
    color:var(--brand-color);
}
.nav-list {
    letter-spacing: 0.02em;
}
.logo {
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.192;
color:var(--secondary-color);
text-decoration: none;
letter-spacing: 0.03em;
}
.black-studio {
    color:var(--logo-color)
}
.studio-white{
    color:var(--footer-second-color);
}
.link {
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.142;
color:var(--brand-color);
text-decoration: none;
}
.blue:hover {
    color:var(--secondary-color);
    cursor:pointer;
}
.grey {
    color:var(--third-color); 
}
.title {
    font-family:Roboto;
font-size: 44px;
font-weight: 900;
line-height: 1.363;
color:var(--footer-second-color);
width: 1600px;
height: 600px;
background-color:var(--background-color);
letter-spacing: 0.06em;
}
.order {
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
color:var(--footer-second-color);
cursor: pointer;
background-color: var(--secondary-color);
letter-spacing: 0.06em;
}
.paragraph-list {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 1.875;
color:var(--brand-color);
letter-spacing: 0.03em;
}
.paragraph {
    font-family: Roboto;
font-size: 14px;
line-height: 1.174;
color:var(--third-color);
letter-spacing: 0.03em;
}
.middle-title {
    font-family: Roboto;
font-size: 36px;
line-height: 1.166;
color:var(--brand-color);
letter-spacing: 0.03em;
}
.img-list-staff{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.188;
color:var(--brand-color);
letter-spacing: 0.03em;
}
.list-jobs {
    font-family: Roboto;
font-size: 16px;
line-height: 1.188;
color:var(--third-color);
letter-spacing: 0.03em;
}
.footer-nav {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background-color: var(--background-color);
    letter-spacing: 0.03em;
}
.footer-contacts {
    color:var(--footer-first-color);
}
.footer-contacts-adrress {
    color:var(--footer-second-color);
}
.footer-mail-portfolio {
    text-decoration: underline;
}
. footer-tel {
    color:(255, 255, 255, 0.6);
}
.site-filter {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color:var(--brand-color);
    cursor: pointer;
}
.all-button:hover {
    background-color:var(--secondary-color);
}
.portfolio-image-names {
    font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 2;
color:var(--brand-color);
letter-spacing: 0.06em;
}
.portfolio-image-category {
    font-family: Roboto;
font-size: 16px;
line-height: 1.875;
color:var(--third-color);
letter-spacing: 0.03em;
}


