body {
    font-family: 'Roboto', sans-serif; 
    color:#212121;
}
.navigation {
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
}
.sea {
    color :#2196F3;
}
.air {
    color: #757575;
}
.title {
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
}
.order {
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
}
.small-title {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
}
